@model RCMendoza.Request.Login
@{
    Layout = null;
}

<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="~/LoginStyles/dist/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <form class="login-form" method="post" asp-action="Login">
                        <div class="row">

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Usuario</label>
                                    <input type="text" class="form-control form-control-sm" asp-for="Usuario" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Password</label>
                                     <input type="text" class="form-control form-control-sm" asp-for="Password" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn-sm"><span>Iniciar Sesion</span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/LoginStyles/dist/js/bootstrap.min.js"></script>
    </body>
</html>
