<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RCMendoza</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="~/lib/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/lib/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/lib/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/lib/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/lib/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/lib/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/lib/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/lib/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/lib/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/lib/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/lib/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="~/lib/Plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css" />
    <!-- Data Tables -->
    <link rel="stylesheet" href="~/lib/Plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/Plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/Plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">
    
    <!-- assets CSS-->
    <!-- gLightbox gallery-->
    <link rel="stylesheet" href="vendor/glightbox/css/glightbox.min.css">
    <!-- Range slider-->
    <link rel="stylesheet" href="vendor/nouislider/nouislider.min.css">
    <!-- Choices CSS-->
    <link rel="stylesheet" href="vendor/choices.js/public/assets/styles/choices.min.css">
    <!-- Swiper slider-->
    <link rel="stylesheet" href="vendor/swiper/swiper-bundle.min.css">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.png">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RCMendoza</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Productos"
                                asp-action="Index">Producto</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">               
                        <li class="nav-item"><a class="nav-link" href="cart.html"> <i class="fas fa-dolly-flatbed me-1 text-gray"></i>Cart<small class="text-gray fw-normal">(2)</small></a></li>
                        <li class="nav-item"><a class="nav-link" href="#!"> <i class="far fa-heart me-1"></i><small class="text-gray fw-normal"> (0)</small></a></li>
                        <li class="nav-item"><a class="nav-link" href="#!"> <i class="fas fa-user me-1 text-gray fw-normal"></i>Login</a></li>
                      </ul>
                </div>
            </div>
        </nav>
    </header>
            @RenderBody()

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - RCMendoza - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <!-- Jquery JS-->
    <script src="~/lib/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/lib/bootstrap-4.1/popper.min.js"></script>
    <script src="~/lib/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/lib/slick/slick.min.js">
    </script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/animsition/animsition.min.js"></script>
    <script src="~/lib/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="~/lib/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/lib/counter-up/jquery.counterup.min.js">
    </script>
    <script src="~/lib/circle-progress/circle-progress.min.js"></script>
    <script src="~/lib/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/lib/chartjs/Chart.bundle.min.js"></script>
    <script src="~/lib/select2/select2.min.js">
    </script>
    <!-- SWEETALERT -->
    <script src="~/lib/Plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Borrar-->
    <script src="~/lib/Plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/Plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/Plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/Plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/Plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/Plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>

    <script src="~/lib/Plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/Plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/Plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- Borrar-->

    <!-- Main JS-->
    <script src="js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
